.App {
  text-align: center;
}
body{
  background: rgb(126,126,126);
background: linear-gradient(90deg, rgba(126,126,126,1) 0%, rgba(246,246,246,1) 50%, rgba(199,199,199,1) 100%);
}

.navBar{
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar ul {
  display: flex;
  margin: 0;

}
.navBar ul li {
  padding-left: 15px;
  list-style-type: none;
  color: white!important;
}
.navBar a{
  text-decoration: none;
}
.moreinfo{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.mid{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.infoBox{
  background-color: rgba(0, 0, 0, 0.349);
  width: 50%;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
}
.infoBox p{
 padding: 10px;
 background-color: rgb(255, 255, 255);
 border-radius: 20px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.formContainer{
  width: 40%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.349);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
}
.formanova{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group{
width: 300px;
}
.btn-info{
  margin-top: 20px;
  background-color: whitesmoke!important;
 
}